.container-fluid {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    min-height: 100vh;
    width: 100%;
}


.bordur {
    max-width: 400px;
    border-radius: 7px;
    padding: 40px 30px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.bouton.btn-bleu{
    background: #002f7d;
    color: #fff;
    width: 185px;
    height: 42px;
    border-radius: 7px;
    overflow: hidden;


}

.img-fluid.logo-white {
    height: 65px;
    width: 250px;
    margin-bottom: 40px;
    margin-top: 25px;
    margin-left: 100px;
}

.bouton.btn-bleu:hover {
    background-color: darkblue;
    color: white;
}

