.content {
    display: block;
    background: #164c92;
    padding: 50px 0 70px;
}

.listing-details{
    display: block;
    overflow-y: scroll;
    border: none ;
    background: #002f7d;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    position: relative;
    width: 100%;
    height: 448px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.bloc-titre {
    color: #fff;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.tbody {
    color: white;
    max-height: 540px;
    font-weight: lighter;
    text-align: left
}


.ligne2 {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px dashed #fff;
}

.ligne1 {
    background: #86cbf5;
    color: #002f7d;
    font-weight: 500;
    padding: 10px 15px;
}

.bloc-recommandations{
    border: 1px solid #86cbf5;
    position: relative;
    height: 448px;
    width: 100%;
    min-height: 1px;
    padding: 30px 40px;
}

.number {
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.8;
}

li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
    list-style-type: none;
}

.img-fluid {
    height: 80px;
    width: 80px;
}

h4{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.titre-reco {
    color: #86cbf5 ;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.txt-reco {
    font-size: 15px;
    color: #fff;
    margin: 0;
}

.p-1 {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
}

/* Header */

header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.logo-black {
    width: 140px;
    height: 35px;
}

#img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.form-search-nav {
    padding: 2px 200px 0;
    margin: 0 auto;
}

.form-search-nav .form-control {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3px 30px;
    background: url("../image/icon-search.svg") bottom 9px left 2px no-repeat;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;
    width: 700px;
    height: 38px;
}

.infos {
    color: #000;
    text-decoration: none;
    line-height: 1.1;
    display: inline-block;
    width: 91px;
    height: 35px;
}

.form-search-nav[_ngcontent-c3] .form-control[_ngcontent-c3] {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3px 30px;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;
    min-height: 3vh;
}

.infos p {
    font-size: 16px;
    margin: 0;
}

small {
    color: #1879c8;
}

.logo-user {
    width: 44px;
    height: 44px;
    margin-top: -15px;
}

.name {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}

.user {
    height: 44px;
    width: 44px;
    min-height: 7vh;
    margin-left: 52px;
}

.nom:hover {
    color: #007bff;
}

/* Bloc bleue */

.container-fluid{
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    color: white;
    width: 100%;
    height: 100%;
}

.image1 {
    width: 100px;
    margin-bottom: 8px;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.center p {
    color: #bbe5ff;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
}

.center h1 {
    font-weight: 500;
    margin: 0 0 5px;
}

.bl {
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.blocs {
    padding: 0 25px;
}

.bloc{
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    align-content: center;
    line-height: normal;
    background: rgba(0, 0, 0, 0.25);
    height: 309px;
}

.bloc:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.25s;
    transform: scale(1.1);
}

.btn-primary, .btn-secondary {
    margin-bottom: 25px;
}

button, input {
    overflow: visible;
}

.text1, .text2, .text3 {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.text1 p, .text2 p, .text3 p {
    margin: 0;
}

.text3 a, .text2 a, .text1 a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.detail {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
}
.detail:hover {
    color: #ffc107;
    text-decoration: none;
}

.nombre {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

.categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}

.subinfo {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

.email, .settings, .maj {
    width: 80px;
    height: 80px;
}

/*boutton*/
.btn-success {
    padding: 12px 40px;
    color: #fff;
    background: #1f5fc2;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
    width: 168px;
    height: 40px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-top: 16px;
}

.bt2 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton.btn-white {
    background: white;
    color: #004bbe;
    margin-right: 1.5rem;
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-bottom: 60px;
}

.bouton.btn-bleue {
    background: #002f7d;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-bottom: 60px;
}

.bouton.btn-white:hover {
    background: #d8d8d8;
}

.bouton.btn-bleue:hover {
    background: #001c4a;
}

/* Footer */

footer {
    background: #272727;
    color: white;
    text-align: center;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
}

.pf {
    margin: 0;
    color: #fff;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext {
     visibility: hidden;
     width: 130px;
     height: 35px;
     background-color: white;
     color: black;
     border: 6px;
     padding-left: 10px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     position: absolute;
     z-index: 1;
     top: 100%;
     left: 50%;
     margin-left: -60px;
     font-size: small;
 }

.name:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext a {
    color: black;
}

.deconnexion:hover {
    color: #007bff;
}
