/* Header */

header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.logo-black {
    width: 140px;
    height: 35px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.form-search-nav {
    padding: 2px 200px 0;
}

.form-search-nav {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3px 30px;
    background: url("../image/icon-search.svg") bottom 9px left 2px no-repeat;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;
    width: 700px;
    height: 38px;
}

.infos {
    color: #000;
    text-decoration: none;
    line-height: 1.1;
    display: inline-block;
    width: 91px;
    height: 35px;
}

.form-search-nav .form-control {
    max-width: 700px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0 0 3px 30px;
    background-size: 20px auto;
    color: #666;
    font-weight: 300;
    border-radius: 0;
    min-height: 3vh;
}

.infos p {
    font-size: 16px;
    margin: 0;
}

small {
    color: #1879c8;
}

.logo-user {
    width: 44px;
    height: 44px;
    margin-top: -15px;
}

.name {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}

.user {
    height: 44px;
    width: 44px;
    min-height: 7vh;
    margin-left: 52px;
}

.nom:hover {
    color: #007bff;
}

/* Bloc bleue */

.container-fluid{
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
    color: white;
}

.image1 {
    width: 100px;
    margin-bottom: 8px;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.center p {
    color: #bbe5ff;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1rem;
}

.center h1 {
    font-weight: 500;
    margin: 0 0 5px;
}

.bl {
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

.blocs {
    padding: 0 25px;
}
.bloc{
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    align-content: center;
    line-height: normal;
    background: rgba(0, 0, 0, 0.25);
    height: 309px;
}

.bloc:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.25s;
    transform: scale(1.1);
}

.btn-primary, .btn-secondary {
    margin-bottom: 25px;
}

button, input {
    overflow: visible;
}

.text1, .text2, .text3 {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.text1 p, .text2 p, .text3 p {
    margin: 0;
}

.text3 a, .text2 a, .text1 a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
}

.detail {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
}
.detail:hover {
    color: #ffc107;
    text-decoration: none;
}

.nombre {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

.categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}

.subinfo {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

.email, .settings, .maj {
    width: 80px;
    height: 80px;
}

.tooltiptext {
    visibility: hidden;
    width: 130px;
    height: 35px;
    background-color: white;
    color: black;
    border: 6px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: small;
}

.name:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext a {
    color: black;
}

.deconnexion:hover {
    color: #007bff;
}

/* Bloc avec les deux photos*/

.bandes {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.photo1 {
    background: url("../image/weakspot-mesuer-empreinte-web.jpg") center no-repeat;
    background-size: cover;
    padding: 150px 0;
    position: relative;
}

.photo2 {
    background: url("../image/weakspot-mesuer-empreinte-web2.jpg") center no-repeat;
    background-size: cover;
    padding: 150px 0;
    position: relative;

}

.before1 {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
}

.before2 {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0.65) 100%);
}

.tof2 {
    position: relative;
    z-index: 5;
    height: 277px;
    width: 100%;
}

.tof1 {
    position: relative;
    z-index: 5;
    height: 279px;
}

.ligne1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 279px;

}

.ligne2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -15px;
    margin-left: -15px;
    height: 277px;
}

.num1 {
    width: 475px;
    height: 279px;
}

.num2 {
    width: 475px;
    height: 277px;
}

.bloctext1 {
    color: white;
    width: 445px;
    height: 279px;
}

.bloctext2 {
    width: 445px;
    height: 277px;
    color: white;
}

.mesurer {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    width: 445px;
    height: 87px;
}

.prevenir {
    margin: 0;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    width: 445px;
    height: 85px;
}

.p1 {
    margin-bottom: 1rem;
    width: 441px;
    height: 96px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 1.5rem;
}

.p2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 96px;
    width: 441px;
    margin-top: 24px;
}

.content1 {
    text-transform: uppercase;
    display: block;
    font-size: 64px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}

.content2 {
    text-transform: uppercase;
    display: block;
    font-size: 65px;
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: 0;
}

.btn-success {
    padding: 12px 40px;
    color: #fff;
    background: #1f5fc2;
    background: linear-gradient(to right, #1f5fc2 0%, #00bffe 100%);
    width: 168px;
    height: 40px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-top: 16px;
}

.bt2 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton.btn-white {
    background: white;
    color: #004bbe;
    margin-right: 1.5rem;
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-bottom: 60px;
}

.bouton.btn-white:hover {
    background: #d8d8d8;
}

.bouton.btn-bleue {
    background: #002f7d;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    margin-bottom: 60px;
}

.bouton.btn-bleue:hover {
    background: #001c4a;
}

/* Footer */

footer {
    background: #272727;
    color: white;
    text-align: center;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
}

.pf {
    margin: 0;
    color: #fff;
}
